@font-face {
    font-family: 'Nexa';
    src: url(../home/Font/NexaDemo-Bold.ttf);
}
@font-face {
    font-family: 'Candra';
    src: url(../All-fonts/Candara.ttf);
}
@font-face {
    font-family: 'Helvetica';
    src: url(../All-fonts/Helvetica-Bold.ttf);
}

:root {
    --primary-font: 'Candra';
    --secondary-font: 'Nexa';
    --button-font: 'Helvetica';
    --navbar: 'Lato', sans-serif;
    --white: #fff;
    --primary-color: #5A90B6;
    --secondary-color: #042B54;
}
body {
    background-color: #e1e5f2;
    font-family: var(--primary-font);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: 30vh;
    background-color: cadetblue;
    position: relative;
}

.navbar {
    min-width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    flex: 1;
    display: flex;
    justify-content: center;
}
.logo {
    flex: 0.2;
    display: flex;
    align-items: center;
}
.navbar ul {
    flex: 0.7;
    display: flex;
    align-items: center;   
}
.navbar li {
    width: 100px;
    display: flex;
    justify-content: center;
    height: 30px;
    border-radius: 20px;
    margin-left: 40px;
    list-style: none;
}
.navbar li:hover {
    transition: 1s ease;
    background-color: #24252A;
}
.navbar a:hover {
    color: white;
    
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-family:var(--secondary-font);
    color: #24252A;
    font-weight: 600;
}
.menu {
    display: flex;
    align-items: center;

}
.menu button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: var(--secondary-font);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--secondary-font);
}

.slide-menu {
    width: 300px;
    max-width: 500px;
    height: 100%;
    background-color: white;
    position: fixed;
    /* z-index: 1; */
    right: 0;
    display: none;
}
.slide-menu.active {
    display: block;
}
.hidden {
    display: none;
}

.close {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-top: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.close::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(45deg);
}
.close::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(-45deg);
}
.close.active {
    display: none;
}

.side-bar {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.side-bar ul {
    display: block;
    margin-top: 20px;
}
.side-bar li {
    display: flex;
    margin-top: 30px;
    list-style: none;
    width: 220px;
    border-radius: 20px;
    flex-direction: column;
}
.side-bar a {
    font-family: var(--secondary-font);
    text-decoration: none;
}
.side-bar li:hover {
    background-color: #24252A;
    height: 30px;
    padding-left: 20px;
}

.bg-2 {
    background-image: url(img/background-shapes-01alt-14-41-42-627.png);
    position: absolute;
    width: 100%;
    height: 100%;
}



.contact-container {
    width: 1400px;
    height: 850px;
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: gray 5px 5px 20px;
}
.img-container {
    width: 100%;
    height: 400px;
    background-color: #2a2a72;
    background-image: linear-gradient(5deg, #2a2a72 0%, #009ffd 74%);
}
.img-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    opacity: 0.4;
}
.in-touch {
    position: relative;
    text-align: center;
    color: var(--white);
}
.in-touch h1 {
    margin-top: 10px;
    font-family: var(--Roboto);
    position: relative;
    margin-bottom: 20px;
}

.in-touch p {
    font-family: var(--WeirdFont);
    /* font-size: 18px; */
    font-weight: 600;

}
.contact-wrapper {
    width: 1000px;
    height: 700px;
    position: relative;
    top: 40%;
    margin-left: 10em;
    margin-right: auto;
    background-color: none;
}

.left {
    width: 65%;
    height: 400px;
    position: absolute;
    background-color: white;
    box-shadow: gray 5px 5px 20px;
}
.left h1 {
    margin-top: 30px;
    margin-left: 30px;
    color: #4361ee;
    font-family: var(--Roboto);
}
.left input {
    margin-left: 25px;
    margin-top: 30px;
    padding: 15px 55px;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    outline: none;
}
.input-long {
    width: 90%;
    margin-top: 25px;
    margin-left: 25px;
    border-bottom: 1px solid black;
    border-radius: 5px;
}
.input-long input {
    margin-top: auto;
    width: 80%;
    border: none;
    background-color: transparent;
    outline: none;
}
.input-long input::placeholder {
    margin-right: 2em;
}

.right-side {
    width: 45%;
    height: 600px;
    background-color: #26A24A;
    position: relative;
    margin-left: auto;
    transform: translateY(-10%);
    transform: translateX(20%);
    box-shadow: gray 5px 5px 20px;
}

.text-info {
    display: flex;
    position: absolute;
    margin-top: 3em;
    
    color: var(--white);
}
.text-info h3 {
    font-family: var(--Roboto);
    margin-left: 2em;
}
.text-info h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    opacity: 0.8;
}
.icons-con {
    width: 100%;
    height: 500px;
    /* background-color: gray; */
    position: relative;
    top: 6em;
    color: var(--white);
    font-family: var(--OpenSans);
    font-size: 13px;
    font-weight: 500;
}


.container {
    width: 100%;
    height: 70px;
    /* background-color: honeydew; */
    transform: translateY(40%);
    display: flex;
    margin-bottom: 20px;
}
.social-icons i {
    color: var(--white);
    margin-top: 2em;
    margin-left: 20px;
    font-size: 30px;
    opacity: 0.5;
}
.social-icons {
    display: flex;
    justify-content: center;

}
.container i {
    margin-left: 30px;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.5;
}
.container h2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 15px;

}
.btn {
    display: flex;
    justify-content: center;
}
.left button {
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: var(--white);
    font-family: var(--OpenSans);
    font-weight: 600;

}
.social-icons i:hover {
    opacity: 1;
}


@media screen and (max-width: 1300px) {
    .bg {
        overflow-x: hidden;
    }

    .icon {
        display: block;
        cursor: pointer;
    }

    .img-con img{
        width: 400px;
        margin-top: 20%; 
    }

    .contact-container {
        width: 900px;
        position:relative;
        top: 50%;
    }
       
}


.nav-active {
    transform: translateY(0%);
        
}
    


    @keyframes NavLinksFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0px)
        }
    }
 

@media screen and (max-width:900px){
   

}









@media screen and (max-width:500px){

    .contact-container {
        width: 500px;
        position:relative;
        top: 50%;
    }
    .img-container {
        width: 500px;
        height: 400px;
        background-color: #2a2a72;
        background-image: linear-gradient(5deg, #2a2a72 0%, #009ffd 74%);
    }
    .img-container img {
        width: 500px;
        height: 400px;
        object-fit: cover;
        position: absolute;
        opacity: 0.3;
    }
    .in-touch {
        text-align: center;
        opacity: 1;
        position: absolute;
        color: var(--white);
    } 
    .in-touch h1 {
        font-family: var(--Roboto);
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .in-touch p {
        font-family: var(--WeirdFont);
        font-weight: 600;
        font-size: 14px;
    }
    .contact-wrapper {
        width: 500px;
        height: 800px;
        position: relative;
        top: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .right-side {
        width: 400px;
        height: 450px;
        /* background-color: green; */
        margin-left: auto;
        margin-right: 50px;
        position: absolute;
        bottom: 50%;
        right: 15%;   
    }
    .social-icons{
        display: flex;
        justify-content: center;
    }
    .social-icons i {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 30px;
        color: var(--white);
    }
    
    .text-info {
        display: flex;
        position: absolute;
        margin-top: 2em;
    }
    .icons-con {
        height: 270px;
    }
    .icons-con i {
        color: var(--white);
        opacity: 0.5;
    }
    .container {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }
    .container h2 {
        font-size: 14px;
        font-family: var(--OpenSans);
        color: var(--white);
        font-weight: 500;
    }
    .container i {
        font-size: 25px;
    }
    .left {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 55%;
    } 
    .left h1{
        font-size: 20px;
        font-family: var(--Roboto);
        color: #4361ee;
        margin-top: 20px;
        margin-left: 20px;
    }
    .left input {
        margin-top: 20px;
        margin-left: 20px;
        padding: 12px 25px;
        border: none;
        border-bottom:1px solid black;
        border-radius: 5px;
        outline: none;
    }
    .input-long{
        width: 95%;
        background-color: var(--white);
        margin-top: 20px;
        border-bottom: 1px solid black;
        margin-left: 15px;
        border-radius: 5px;
    }
    .input-long input {
        margin-top: auto;
        width: 80%;
        border: none;
        background-color: transparent;
        outline: none;
    }
    .btn {
        display: flex;
        justify-content: center;
    }
    .left button {
        margin-top: 20px;
        padding: 10px 40px;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: #045de9;
        background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        color: var(--white);
        font-family: var(--OpenSans);
        font-weight: 600;

    }
    
    
}
@media screen and (max-width:400px){
    .bg-2 {
        max-width: 100%;
        position: relative;
    }
    .contact-container {
        width: 360px;
        position:relative;
        top: 50%;
    }
    .img-container {
        width: 360px;
        height: 400px;
        background-color: #2a2a72;
        background-image: linear-gradient(5deg, #2a2a72 0%, #009ffd 74%);
    }
    .img-container img {
        width: 360px;
        height: 400px;
        object-fit: cover;
        position: absolute;
        opacity: 0.3;
    }
    .in-touch {
        text-align: center;
        opacity: 1;
        position: absolute;
    } 
    .in-touch h1 {
        font-family: var(--Roboto);
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .in-touch p {
        font-family: var(--WeirdFont);
        font-weight: 600;
        font-size: 14px;
    }
   
    
}

/* @media screen and (min-width : 768px) {

    .bg-2 {
        background-repeat: no-repeat;
    }
    .contact-container {
        width: 700px;
        transform: translateY(-5%);
    }
    .left {
        min-width: 900px;
        transform: translateX(-22.8%);
        position: relative;
        top: 80%;
    }
    .right-side {

    }
} */
