@font-face {
    font-family: 'Nexa';
    src: url(../home/Font/NexaDemo-Bold.ttf);
}
@font-face {
    font-family: 'Helvetica';
    src: url(./home/Helvetica-Bold.ttf);
}
@font-face {
    font-family: 'Aaargh';
    src: url(./home/Aaargh.ttf)
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=IBM+Plex+Serif:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Nexa';
    --parag-font: 'Aaargh';
    --titles: 'Helvetica';
    --navbar: 'Lato', sans-serif;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #e6e6e6; */
    background-color: white;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: aqua;

}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    max-width: 100%;
    min-width: 500px;
    height: 70px;
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.logo {
    flex: 0.2;
    display: flex;
    align-items: center;
}
.navbar ul {
    flex: 0.7;
    display: flex;
    align-items: center;
}
.navbar li {
    margin-left: 40px;
    list-style: none;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-family:var(--secondary-font);
}
.menu {
    display: flex;
    align-items: center;
}
.menu button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: var(--secondary-font);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.slide-menu {
    width: 300px;
    max-width: 500px;
    height: 100%;
    background-color: blueviolet;
    position: absolute;
    right: 0;
    display: none;
}
.slide-menu.active {
    display: block;
}
.hidden {
    display: none;
}

.close {
    width: 30px;
    height: 30px;
    /* background-color: aliceblue; */
    margin-left: auto;
    margin-top: 40px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.close:hover {
    background-color: gray;
}
.close::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(45deg);
}
.close::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(-45deg);
}
.close.active {
    display: none;
}

.side-bar {
    width: 100%;
    height: 600px;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
}
.side-bar ul {
    display: block;
    margin-top: 20px;
}
.side-bar li {
    display: flex;
    margin-top: 30px;
    list-style: none;
    border-radius: 20px;
    width: 120px;
}
.side-bar a {
    font-family: var(--secondary-font);
    text-decoration: none;
}
.side-bar li:hover {
    background-color: violet;
}
.container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: auto;
}
.container section {
    scroll-snap-align: start;
}
.order {
    position: relative;
    top:-20%;
    display: flex;
    justify-content: center;
}
.order button {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: var(--secondary-font);
    cursor: pointer;
}
.moto {
    width: 100%;
    height: 100vh;
}
.moto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





@media only screen and (max-width : 480px){
    body {
        overflow-y: scroll;
    }
    .hero {
        width: 500px;
    }

    .slide-menu {
        left: 10em;
    }
    .navbar ul {
        display: none;
    }
    .slide-menu {
        width: 350px;
        height: 800px;
    }
    .hidden,.side-bar ul {
        display: block;
    }
    .container {
        width: 500px;
        height: 200vh;
    } 
    .container section {
        height: 100%;
    }
   
    
}